<?xml version="1.0" encoding="UTF-8"?>
<map>
    <value name="styles">{"index":2}</value>
    <value name="current_style">"nvg://advp.widget.mashiros.top/advp-style-preset/waves#Style.qml"</value>
    <value name="nvg://advp.widget.mashiros.top/advp-style-preset/waves#Style.qml">{"__version":"1.0.0","__cfg_height":580,"Line Width":1,"Line Color":"#ff4500","Data Settings":{"Auto Normalizing":true,"Amplitude":10}}</value>
</map>