<?xml version="1.0" encoding="UTF-8"?>
<map>
    <value name="current_style">"nvg://advp.widget.mashiros.top/advp-style-preset/waves"</value>
    <value name="nvg://advp.widget.mashiros.top/advp-style-preset/waves">{"Line Width":1,"Line Color":"#ff4500","Data Length":0,"Data Settings":{"Auto Normalizing":true,"Amplitude":10,"Unit Style":0}}</value>
</map>